* {
  box-sizing: border-box;

  font-family: sans-serif;
  line-height: 1.5;
}
body {
  background-color: beige;
}
main {
  position: relative;
  left: 4%;
  top: 80px;
}
.testButton {
  border-radius: 30px;
  background-color: lightcyan;
}

.posiOben {
  position: fixed;
  top: 2%;
  right: 2%;
}
header {
  position: fixed;
  width: 100%;
  top: -6%;
  z-index: 5;
  background-color: darkgrey;
  padding-bottom: 10px;
  padding-top: 100px;
  padding-left: 20px;
  border-radius: 60px;
}

.nav_Textgap {
  color: white;
  padding-left: 50px;
  padding-right: 90px;
}

.bringMeUp {
  background-color: transparent;
  color: rgb(148, 205, 246);
  position: fixed;
  right: 10%;
  bottom: 5%;
}
